<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>表</title>
</head>
<body>
  <h2>日別ボウリング合計スコア・アベレージ表</h2>
  <table>
      <% for( let row of data ) { %>
        年月日:<%= row.id %><br>
        ゲーム数:<%= row.all %><br>
        合計スコア:<%= row.code %><br>
        平均スコア:<%= row.ave %><br>
      <% } %>
  </table>
</body>
</html>